/.idea
/bootstrap-5.0.2-dist
/class.html
/Custom Office Templates
/desktop.ini
/html-fonts
/html-main
/hw.html
/idk.reg
/img_avatar2.png
/Krunker Central - Free Hacks & Cheats 7.1.1+
/loops
/PowerToys
/Python
/semi-website-main
/test.htm
/test.js
/toDo
/My Music
/My Pictures
/My Videos